* {
font-family: 'Bebas Neue', cursive;
}

nav {
	background-color: #9ceaef;
	align-items: center;
	justify-content: space-between;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

#landing {
	background-color: #cbf3f0;
}

#intro {
	background-color: #9ceaef;
	margin-left: 30rem;
	margin-right: 30rem;
}

footer {
	background-color: #9ceaef;
	color: black;
}

.projects