* {
font-family: 'Bebas Neue', cursive;
}

nav {
	background-color: #9ceaef;
	align-items: center;
	justify-content: space-between;
}


#landing {
	background-color: #cbf3f0;
}

div {
	background-color: #9ceaef;
	
}

footer {
	background-color: #9ceaef;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  background: #55ACEE;
  color: white;}